@model ManagementViewModel

@{
    ViewData["Title"] = "Admin";
}

<div class="container-fluid bg-dark">
    <div class="container">
        <partial name="_NavbarPartial" />
    </div>
</div>

<div class="container mt-2">
    <h2 class="container-logo">Administrators</h2>
    <table class="table table-sm">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model._identityUsers)
            {
                <tr>
                    <th>@item.UserName</th>
                    <th>@item.Email</th>
                    <th>
                        <a class="text-success">Edit</a> |
                        <a class="text-danger">Delete</a>
                    </th>
                </tr>
            }
        </tbody>
    </table>

    <a class="btn btn-danger" asp-controller="Account" asp-action="Register">New Admin</a>

    <h2 class="container-logo">Careers</h2>
    <table class="table table-sm">
        <thead>
            <tr>
                <th>Name</th>
                <th>Date Posted</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model._careers)
            {
                <tr>
                    <th>@item.CareerName</th>
                    <th>@item.CareerDatePosted.ToShortDateString()</th>
                    <th>
                        <a class="text-success">view</a>
                    </th>
                </tr>
            }
        </tbody>
    </table>

    <a class="btn btn-danger" href="#">Add Career</a>
</div>
