@{
    ViewData["Title"] = "Careers";
}

<div class="container-fluid container-intro-careers-bg">
    <div class="container-intro-transbox">
        <div class="container">
            <partial name="_NavbarPartial" />

            <div class="container-intro">
                <h2 class="container-intro-transbox-header text-md-center">
                    FIND YOUR DREAM JOB AT OUR COMPANY
                </h2>
                <p class="container-intro-transbox-p text-md-center">
                    internships, intermediate developer, consultant &amp; many more
                </p>
                <p class="text-md-center">
                    <button class="btn btn-outline-primary btn-custom">View jobs &darr;</button>
                </p>
            </div>
        </div>
    </div>
</div>