@{
    ViewData["Title"] = "Contact Us";
}

<div class="container-fluid container-intro-contact-bg">
    <div class="container-intro-transbox">
        <div class="container">
            <partial name="_NavbarPartial" />

            <div class="container-intro">
                <h2 class="container-intro-transbox-header text-md-center">
                    CONTACT US
                </h2>
                <p class="text-md-center">
                    <button class="btn btn-outline-info btn-custom">Location &darr;</button>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row p-3">
        <div class="col-md-4 p-3">
            <div class="contact-info">
                <div>
                    <img src="~/images/icons8-location-50.png" />
                </div>
                <div class="contact-info-text">
                    <h4>Location</h4>
                    <p>3154 Hazyview</p>
                    <p>Mpumalanga</p>
                    <p>1242</p>
                </div>
            </div>
            <div class="contact-info">
                <div class="mr-1">
                    <img src="~/images/icons8-phone-45.png" />
                </div>
                <div class="contact-info-text">
                    <h4>Phone</h4>
                    <p>+2782 398 2825</p>
                    <p>+2766 545 6477</p>
                </div>
            </div>
            <div class="contact-info">
                <div>
                    <img src="~/images/icons8-email-50.png" />
                </div>
                <div class="contact-info-text">
                    <h4>Email</h4>
                    <p><a href="mailto:wwww.2017269214@ufs4life.ac.za">PsDevs@Info</a></p>
                </div>
            </div>
        </div>
        <div class="col-md-8 contact-container-form">
            <h4>Send us a message</h4>
            <form>
                <input type="text" class="form-control" placeholder="Name" />
                <input type="text" class="form-control" placeholder="Email" />
                <input type="text" class="form-control" placeholder="Your Message..." />
                <button class="btn btn-danger w-25">Send</button>
            </form>
        </div>
    </div>
</div>