@{
    ViewData["Title"] = "Contact Us";
}

<div class="container-fluid container-intro-contact-bg">
    <div class="container-intro-transbox">
        <div class="container">
            <partial name="_NavbarPartial" />

            <div class="container-intro">
                <h2 class="container-intro-transbox-header text-md-center">
                    CONTACT US
                </h2>
                <p class="text-md-center">
                    <button class="btn btn-outline-info btn-custom">Location &darr;</button>
                </p>
            </div>
        </div>
    </div>
</div>