@{
    ViewData["Title"] = "Home";
}

<div class="container-fluid container-intro-index-bg">
    <div class="container-intro-transbox">
        <div class="container">
            <partial name="_NavbarPartial" />

            <div class="container-intro">
                <h2 class="container-intro-transbox-header text-md-center">
                    CREATE &amp; MANTAIN HIGH-END SOFTWARE FOR YOUR ORGANISATION &amp; PERSONAL SPACE
                </h2>
                <p class="container-intro-transbox-p text-md-center">
                    graphics, database, word, spreadsheet, enterprise &amp; many more
                </p>
                <p class="text-md-center">
                    <button class="btn btn-outline-primary btn-custom">Get Qoute</button>
                    <button class="btn btn-outline-danger btn-custom">Customers</button>
                </p>
            </div>
        </div>
    </div>
</div>

@*Content*@
<div class="container">
    <div class="row">
        <div class="col-md-6 home-custom-col">
            <h2 class="home-custom-col-h2">PsDevs</h2>
            <div class="line-deco"></div>
            <p>
                PsDevs was established in 2021 as a software development company with the aim grooming young &amp; upcoming engineers to develop rhobust &amp; maintainable high-end software products by <strong>Pleasure Ndhlovu</strong>
            </p>
        </div>
        <div class="col-md-6 home-custom-col">
            <h2 class="home-custom-col-h2">Our Culture</h2>
            <div class="line-deco"></div>
            <p>
                We are focused on staying up-to-date with new technology trends so we can always be competetive &amp; develop high-end software products for our customers worldwide. Our interns are well mentored by good proven developers
            </p>
        </div>

        <div class="col-md-12 home-custom-col">
            <h2 class="home-custom-col-h2">Stakeholder &amp; sponsors</h2>
            <div class="line-deco"></div>
            <div class="row">
                <div class="col-md-3">
                    <a href="https://www.coca-cola.co.za/" target="_blank">
                        <img class="d-block mx-auto" src="~/images/coca-cola.png" width="200" height="200" />
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="https://www.ubereats.com/" target="_blank">
                        <img class="rounded-circle d-block mx-auto mt-3" src="~/images/uber-eats.png" width="170" height="170" />
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="https://www.momentum.co.za/momentum/home" target="_blank">
                        <img class="d-block mx-auto" src="~/images/momentum.jpg" width="200" height="200" />
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="https://www.offerzen.com/" target="_blank">
                        <img class="mt-3 d-block mx-auto" src="~/images/offerzen.png" width="180" height="160" />
                    </a>
                </div>
            </div>
        </div>
        @*<div class="col-md-12 home-custom-col">
                <ul class="custom-home-list">
                    <li><img src="~/images/icons8-arrow-18.png" /> Ethics &nbsp;</li>
                    <li><img src="~/images/icons8-arrow-18.png" /> Honesty &nbsp;</li>
                    <li><img src="~/images/icons8-arrow-18.png" /> Respect &nbsp;</li>
                    <li><img src="~/images/icons8-arrow-18.png" /> Integrity &nbsp;</li>
                    <li><img src="~/images/icons8-arrow-18.png" /> Responsibility &nbsp;</li>
                    <li><img src="~/images/icons8-arrow-18.png" /> Equality &nbsp;</li>
                    <li><img src="~/images/icons8-arrow-18.png" /> Innovation &nbsp;</li>
                    <li><img src="~/images/icons8-arrow-18.png" /> Trust &nbsp;</li>
                </ul>
            </div>*@
    </div>
</div>
