@model IEnumerable<TeamMember>

@{
    ViewData["Title"] = "Our Team";
}

<div class="container-fluid container-intro-team-bg">
    <div class="container-intro-transbox">
        <div class="container">
            <partial name="_NavbarPartial" />

            <div class="container-intro">
                <h2 class="container-intro-transbox-header text-md-center">
                    MEET OUR TEAM
                </h2>
                <p class="text-md-center">
                    <button class="btn btn-outline-danger btn-custom">Personnel &darr;</button>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="team-grid">
        @foreach (var tm in Model)
        {
            <div class="team-member">
                <img src="@tm.TeamMemberImageUrl"  alt="@tm.TeamMemberName"/>
                <div class="team-member-info bg-orange">
                    <h3>@tm.TeamMemberName</h3>
                    <p>@tm.TeamMemberPosition</p>
                </div>
            </div>
        }
    </div>
</div>