@import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color:whitesmoke;
}

.nav-link {
    color: #F26430;
    padding: 12px inherit;
    text-align: center;
    width: 105px;
    font: 500 18px 'Montserrat', sans-serif;
    transition: 0.5s;
}

    .nav-link:hover {
        color: #3041f2;
        transform: scale(1.1);
        font-weight: 600;
    }

.container-intro {
    padding: 35px 0;
}

.container-logo, .container-logo:hover {
    color: #F26430;
    font: 400 30px 'Anton', sans-serif;
    text-decoration: none;
}

.container-intro-index-bg {
    background: url(https://images.wallpaperscraft.com/image/desk_office_chair_design_meeting_80711_1600x1200.jpg) no-repeat rgb(255, 0, 0);
    background-position: center;
    background-attachment: fixed;
    padding: 0;
}

.container-intro-careers-bg {
    background: url(https://www.denso.com/sa/en/-/media/local/common/careers/careers-img-main.jpg?rev=bedbd086be3e4be1b3cb71cecd2bb34c&hash=BC4D1106E677893F4E28AAFC69DA4AAA) no-repeat rgb(255, 0, 0);
    background-position: center;
    background-attachment: fixed;
    padding: 0;
}

.container-intro-team-bg {
    background: url(https://vistapointe.net/images/meeting-5.jpg) no-repeat rgb(255, 0, 0);
    background-position: center;
    background-attachment: fixed;
    padding: 0;
}

.container-intro-contact-bg {
    background: url(https://cutewallpaper.org/21/wallpaper-hd-1080p-free-download-for-mobile/HD-Wallpapers-1080p-for-Phone-77+-images-.jpg) no-repeat rgb(255, 0, 0);
    background-position: center;
    background-attachment: fixed;
    padding: 0;
}

.container-intro-login-bg {
    background: url(https://wallpaperaccess.com/full/2314950.jpg);
    background-position: center;
    background-attachment: fixed;
    padding: 0;
}

.container-intro-transbox {
    background-color: rgba(0,0,0,0.8);
    opacity: 1;
}

.container-intro-transbox-header {
    color: #ffffff;
    font: 400 40px 'Anton', sans-serif;
}

.container-intro-transbox-p {
    color: #F26430;
}

.btn-custom {
    width: 140px;
    margin-right: 5px;
    transition : 1s;
}

.btn{
}

.btn-custom-2 {
    border-radius: 18px;
    width: 140px;
    margin-right: 5px;
}

.btn-custom:hover {
    transform: scale(1.1);
}

.btn-navbar-collapse {
    color: #fff;
}

.home-custom-col {
    /*border: 1px solid rgb(181, 181, 181);*/
    border-radius: 5px;
    padding: 5px;
    margin-top: 5px;
}

.home-custom-col-h2 {
    font-family: 'Roboto', sans-serif;
}

.line-deco {
    border-bottom: 3px solid orangered; /*#F26430Orange*/
    margin-bottom: 10px;
    width: 15%;
}

.custom-home-list li {
    display: inline;
    font: 600 18px 'Montserrat', sans-serif;
}

/*CAREERS.CSHTML*/
.not-found-header {
    color: #242424;
    font: 400 60px 'Anton', sans-serif;
    text-align: center;
}

.not-found-text {
    text-align: center;
}

.not-found-link {
    color: #F26430;
    font-weight: 700;
}

.career {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #F26430;
    margin: 5px 0;
}

    .career > h2 {
        font: 400 25px 'Anton', sans-serif;
    }

/*TEAM.CSHTML*/
.team-grid {
    margin-top: 7px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1em 1em;
}

.team-member {
    position: relative;
    height: 45vh;
    border-radius: 5px;
}

    .team-member > img {
        width: 100%;
        height: 100%;
        border-radius: 5px;
    }

.team-member-info {
    position: absolute;
    bottom: 0%;
    width: 100%;
    border-radius: 5px;
    background: linear-gradient(90deg, rgba(242,100,48,1) 0%, rgba(219,45,253,1) 100%);
}

    .team-member-info:hover {
        cursor: pointer;
    }

    .team-member-info > h3 {
        font: 400 20px 'Anton', sans-serif;
        text-align: center;
        color: #ffffff;
    }

    .team-member-info > p {
        font: 400 13px 'Montserrat', sans-serif;
        text-align: center;
        line-height: 0;
        color: #ffffff;
    }

/*TEAM.CSHTML*/
.contact-info {
    display: flex;
}

.contact-info-text {
    flex: 3;
    margin: 5px;
    margin-left: 10px;
}

    .contact-info-text h4 {
        font: 400 18px 'Anton', sans-serif;
    }

    .contact-info-text p {
        line-height: 0;
    }

.contact-container-form {
    padding: 10px;
    border-radius: 5px;
    background-color: #17a2b8;
}

.contact-container-form > h4 {
        font: 400 20px 'Anton', sans-serif;
    }

input[type=text] {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc;
    border-radius: 4px; 
    box-sizing: border-box;
    margin-top: 3px; 
    margin-bottom: 10px; 
    resize: vertical;
}

/*Footer*/
.container-footer{
    margin-top: 10px;
    display:flex;
    bottom:0;
    color: white;
}

.container-footer-about-us, .container-footer-links {
    flex: 1;
    padding: 15px;
}

.container-footer-links a{
    text-decoration:none;
}

.container-footer-follow {
    padding: 15px;
    flex: 2;
}
    .container-footer-about-us > h3, .container-footer-links > h3, .container-footer-follow > h3 {
        font: 400 17px 'Anton', sans-serif;
    }

    .container-footer-links > p {
        line-height: 5px;
    }
.container-footer-follow-imgs{
    display:flex;
}

/*ADMIN/INDEX*/
/*.btn-text-orange {
    color: #F26430;
}*/
::selection {
    background-color: yellow;
}
@media (max-width : 900px) {
    .team-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 2em 1em;
    }

    .container-footer-follow-imgs {
        display: grid;
        grid-template-rows: 1fr 1fr;
    }
}

@media (max-width : 420px) {
    .team-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 2em 1em;
    }
    .container-footer {
        margin-top: 10px;
        display: flex;
        flex-direction:row;
        bottom: 0;
        color: white;
    }
}
