@import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.nav-link {
    color: #F26430;
    padding: 12px inherit;
    text-align: center;
    width: 105px;
    font: 500 18px 'Montserrat', sans-serif;
}

    .nav-link:hover {
        color: #ffffff;
        transform: scale(1.1);
        font-weight: 600;
    }

.container-intro {
    padding: 35px 0;
}

.container-logo, .container-logo:hover {
    color: #F26430;
    font: 400 30px 'Anton', sans-serif;
    text-decoration: none;
}

.container-intro-index-bg {
    background: url(https://images.wallpaperscraft.com/image/desk_office_chair_design_meeting_80711_1600x1200.jpg) no-repeat rgb(255, 0, 0);
    background-position: center;
    background-attachment: fixed;
    padding: 0;
}

.container-intro-careers-bg {
    background: url(https://www.denso.com/sa/en/-/media/local/common/careers/careers-img-main.jpg?rev=bedbd086be3e4be1b3cb71cecd2bb34c&hash=BC4D1106E677893F4E28AAFC69DA4AAA) no-repeat rgb(255, 0, 0);
    background-position: center;
    background-attachment: fixed;
    padding: 0;
}

.container-intro-team-bg {
    background: url(https://vistapointe.net/images/meeting-5.jpg) no-repeat rgb(255, 0, 0);
    background-position: center;
    background-attachment: fixed;
    padding: 0;
}

.container-intro-contact-bg {
    background: url(https://cutewallpaper.org/21/wallpaper-hd-1080p-free-download-for-mobile/HD-Wallpapers-1080p-for-Phone-77+-images-.jpg) no-repeat rgb(255, 0, 0);
    background-position: center;
    background-attachment: fixed;
    padding: 0;
}

.container-intro-transbox {
    background-color: rgba(0,0,0,0.8);
    opacity: 1;
}

.container-intro-transbox-header {
    color: #ffffff;
    font: 400 40px 'Anton', sans-serif;
}

.container-intro-transbox-p {
    color: #F26430;
}

.btn-custom {
    border-radius: 18px;
    width: 140px;
    margin-right: 5px;
}

.btn-custom-2 {
    border-radius: 18px;
    width: 140px;
    margin-right: 5px;
}

.btn-custom:hover {
    transform: scale(1.2);
}

.btn-navbar-collapse {
    color: #fff;
}

.home-custom-col {
    /*border: 1px solid rgb(181, 181, 181);*/
    border-radius: 5px;
    padding: 5px;
    margin-top: 5px;
}

.home-custom-col-h2 {
    font-family: 'Roboto', sans-serif;
}

.line-deco {
    border-bottom: 3px solid #F26430; /*Orange*/
    margin-bottom: 10px;
    width: 15%;
}

.custom-home-list li {
    display: inline;
    font: 600 18px 'Montserrat', sans-serif;
}

/*CAREERS.CSHTML*/
.not-found-header {
    color: #242424;
    font: 400 60px 'Anton', sans-serif;
    text-align: center;
}

.not-found-text {
    text-align: center;
}

.not-found-link {
    color: #F26430;
    font-weight: 700;
}

.bg-orange {
    background-color: #F26430;
}

.career-container {
    border: 1px solid #808080;
    border-radius: 8px;
    padding: 10px;
    margin-top: 10px;
}

.career-container-header {
    color: #242424;
    font: 400 30px 'Anton', sans-serif;
    letter-spacing: 3px;
    padding-top: 7px;
    line-height: 7px
}

.career-container-type {
    padding-top: 10px;
    line-height: 6px
}

.career-container-exp {
    line-height: 7px;
}

.career-container-des {
    font-weight: 600;
}
